{% extends 'base.html' %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for("static", filename = "img/home-bg.jpg")}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>SHORTEST PATH</h1>
                            <span class="subheading">Find the shortest path under polygonal obstacle constraints</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3>In this project, polygon constraints are considered to find the shortest path. Dijkstra algorithm is used and results are visualized through Leaflet.</p>
                        <h2 class="section-heading">Project Images</h2>
                        <a href="#!"><img class="img-fluid" src="static/img/1.jpg" alt="..." /></a>
                        <p></p>
                        <a href="#!"><img class="img-fluid" src="static/img/2.jpg" alt="..." /></a>

                    </div>
                </div>
            </div>
        </article>

{% endblock %}
